* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Manrope", sans-serif;
  color: black;
}

head {
  margin: 0;
  padding: 0;
  border: none;
}

.header {
  padding: 15px;
  text-align: center;
  height: fit-content;
  width: 85%;
  margin: auto;
  padding-bottom: 20px;
  color: white;
}

.tab {
  text-indent: 40px;
}

body {
  background-color: #000;
  color: black;
  font-family: "manrope", sans-serif;
}

.container {
  float: right;
  height: 550px;
  width: 70vh;
  margin-right: 5vh;
  margin-left: 5vh;
  font-family: "manrope", sans-serif;
  overflow: scroll;
  background-color: rgb(39, 39, 39);
  z-index: 30;
}

.panel {
  padding: 15px;
  text-align: center;
  height: fit-content;
  width: 85%;
  margin: auto;
  padding: 10px;
  color: white;
  z-index: 250;
}
.panel:first-child {
  padding-top: 5vh;
}
.panel:last-child {
  padding-bottom: 15vh;
}

.map {
  float: left;
  position: absolute;
  margin-left: 30px;
  height: 550px;
  width: 830px;
  z-index: 3;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #000;
}

h1 {
  font-size: 32px;
  color: white;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

h2 {
  font-size: 18px;
  padding: 5px;
  padding-right: 90px;
  padding-left: 90px;
  font-family: "manrope", sans-serif;
  font-weight: lighter;
  color: white;
}

h3 {
  font-size: 18px;
  padding-bottom: 15px;
  font-family: "manrope", sans-serif;
  font-weight: lighter;
  color: white;
}

h4 {
  font-size: 20px;
  line-height: 140%;
  font-family: "manrope", sans-serif;
  padding-bottom: 15px;
  padding-left: 55px;
  padding-right: 55px;
  color: white;
  font-weight: lighter;
}

h5 {
  font-size: 14px;
  font-family: "manrope", sans-serif;
  text-align: left;
  line-height: 150%;
  color: white;
  font-weight: lighter;
}

h6 {
  font-size: 16px;
  font-family: "manrope", sans-serif;
  text-align: left;
  line-height: 150%;
  padding-bottom: 15px;
  color: white;
  font-weight: bold;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

circle:hover {
  fill: teal;
}

#dataviz_axisZoom {
  width: 60vh;
  height: 250px;
  padding: 2vh;
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  height: 80%;
  z-index: 200;
}

#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: black;
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: "manrope", sans-serif;
  color: white;
  font-size: 12px;
  line-height: 20px;
}

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: rgb(28, 28, 28);
  margin: 0;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #009898;
  text-align: justify;
  position: relative;
  padding: 14px 16px;
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  z-index: 60;
}

/* Links - change color on hover */
.topnav a:hover {
  color: #ddd;
  background-color: black;
}

#fly {
  display: block;
  position: relative;
  margin: 0px auto;
  width: fit-content;
  height: 90px;
  padding: 6px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-justify: auto;
  color: #5a3f1d;
  background: #ffb350;
}
