* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Manrope", sans-serif;
  color: black;
}

head {
  margin: 0;
  padding: 0;
  border: none;
}

.header {
  padding: 20px;
  text-align: center;
  background: black;
  color: white;
}

body {
  font-size: 25px;
  background-color: #000;
  color: white;
  font-family: "manrope";
}

.container {
  float: right;
  height: 600px;
  width: 550px;
  margin-right: 35px;
  margin-left: 30px;
  background-color: rgb(39, 39, 39);
  z-index: 300;
}
#chartAnimation {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 80%;
  z-index: 50;
}
.panel {
  width: 35%;
  padding-left: 5px;
  padding-top: 25vh;
  padding-bottom: 25vh;
}
.panel:first-child {
  padding-top: 5vh;
}
.panel:last-child {
  padding-bottom: 15vh;
}

.map {
  float: left;
  position: absolute;
  margin-left: 30px;
  height: 550px;
  width: 800px;
  z-index: 200;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: darkslategrey;
}

h1 {
  font-size: 32px;
  color: white;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

h2 {
  font-size: 18px;
  padding: 10px;
  padding-right: 90px;
  padding-left: 90px;
  font-weight: lighter;
  color: white;
}

h3 {
  font-size: 16px;
  padding-bottom: 15px;
  font-weight: bold;
  color: white;
}

h4 {
  font-size: 20px;
  line-height: 140%;
  padding-bottom: 15px;
  padding-left: 55px;
  padding-right: 55px;
  color: white;
  font-weight: lighter;
}

circle:hover {
  fill: teal;
}

#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: black;
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: "manrope", sans-serif;
  color: white;
  font-size: 12px;
  line-height: 20px;
}

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: rgb(28, 28, 28);
  margin: 0;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #009898;
  text-align: justify;
  position: relative;
  padding: 14px 16px;
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  z-index: 60;
}

/* Links - change color on hover */
.topnav a:hover {
  color: #ddd;
  background-color: black;
}

#fly {
  display: block;
  /* position: relative; */
  margin: 0px auto;
  width: fit-content;
  height: 60px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-justify: auto;
  color: #fff;
  background: #ff4a09;
}
